<!DOCTYPE html>
<html lang="en" ng-app>

  <head>

    <title>Aplicação exemplo TCC</title>
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.css">

  </head>

  <body>

    <%- body %>
    <script src="/vendor/requirejs/require.js" data-main="/js/main"></script> 
  
  </body>

</html>
